<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shelter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.ShelterManagerApp">
        <activity
            android:name=".presentation.menu.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.shelter.presentation.MainActivity"/>
        <activity android:name=".presentation.LogInAppActivity"/>
        <activity android:name=".presentation.about_animal.view.AboutAnimalActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>